.group
  .group__head
    .group__head__title
      = group.name
      .group__head__title__members
        Member：
        - group.relationships.each do |member|
          = member.user.name
    .group__head__edit
      = link_to "Edit" , edit_group_path(group)
  .group__chat
    = render partial: "/messages/message"
  .group__message
    = form_tag('', method: :post) do
      .submit-message
        %input.content{name: "text", type: "text", placeholder: "type a message"}
        %label{for: "img"}
          = fa_icon "image"
          %input#img{name: "file", style: "display:none;", type: "file"}
      %input.button{type: "submit", value: "Send"}
