.group
  .group__head
    .group__head__title
      = @group.name
      .group__head__title__members
        Member：
        - @group.relationships.each do |member|
          = member.user.name
    .group__head__edit
      = link_to "Edit" , edit_group_path(@group)
  .group__chat
    = render partial: "/messages/message", collection: @messages
  .group__message
    = form_for([@group, @message], html: { id: 'send_message' }, remote: true) do |f|
      .submit-message
        = f.text_field :text, placeholder: "type a message"
        = f.label :image do
          = fa_icon "image"
          = f.file_field :image, class: "ignore"
      = f.submit "Send", id: "send-btn"
