.message
  = @messages.each do |message|
    .message__name
      = message.user.name
    .message__createdat
      = message.created_at
    .message__text
      = message.text
    .message__image
      = image_tag message.image unless nil
