.nortification
  %p
    グループが作成されました
.wrapper
  .menu
    .menu__user
      .menu__user__nickname
        NickName
      .menu__user__button
        = link_to fa_icon "edit"
        = link_to fa_icon "cog"
    .menu__chatlist
      %ul
        %li.memu__chatlist__list
          .menu__chatlist__list--group
            WCUPについて話そう
          .menu__chatlist__list--message
            日本代表頑張って！
        %li.memu__chatlist__list
          .menu__chatlist__list--group
            仮想通貨について話そう
          .menu__chatlist__list--message
            NEM頑張って！
        %li.memu__chatlist__list
          .menu__chatlist__list--group
            眠い
          .menu__chatlist__list--message
            頑張って！
  .group
    .group__head
      .group__head__title
        WCUPについて話そう
        .group__head__members
          Member: nickmack sumsum
      .group__head__edit
        = link_to "Edit", root_path
    .group__chat
      .messages
        .messages--nickname
          sumsum
        .messages--createdat
          2018/06/02 18:30
        .messages--text
          日本代表頑張って！
      .messages
        .messages--nickname
          sumsum
        .messages--createdat
          2018/06/02 18:30
        .messages--text
          日本代表頑張って！

    .group__message
      = form_tag('', method: :post) do
        .group__message__text
          %input.group__message__text--message{:name => "text", :type => "text" , :placeholder => "type a message"}
          -# %input.group__message__text--img{:name => "file", :type => "file"}
          %label{:for => "group__message__text--img"}
            = fa_icon "image"
            %input#group__message__text--img{:name => "file", :style => "display:none;", :type => "file"}
        %input.group__message__text--button{:type => "submit", :value => "Send"}
